.box_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: rgb(215, 218, 223);
    padding: 1px;
    margin-left: 450px;
    margin-top: 50px;
    padding: 20px;
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 70px;
    font-style: oblique;
}
.input{
    background-color: rgb(250, 242, 242);
    color: rgb(18, 19, 20);
    
    margin-right: 20px;
}
.label{
    color: rgb(9, 9, 9);
    font-size: 20px;   
    margin-left: 10px;
width: 100px;
}
.input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
  }

  /* Radio button checked state */
  .input[type="radio"]:checked {
    border-color: rgb(21, 18, 131); /* Change the border color to red */
    background-color: rgb(49, 36, 146);
  }
  .first{
    margin-bottom: 20px;
    
  }
  .input-container {
    position: relative;
    display: block; /* Change to block from inline-block */
}

.input-container input[type="text"] {
    border: 4px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
}

.input-container label {
    position: absolute;
    display: block;
    background-color: cornflowerblue;
    top: 50%;
    left: 2px;
    padding: 0px;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-container label i {
    font-size: 30px;
    margin-right: 3px;
    padding-right: 5px;
}

#name-icon { /* Use the correct id for name-icon */
    background-color: cornflowerblue;
    top: 50%; /* Adjust the position */
    left: 2px; /* Adjust the position */
    transform: translateY(-50%); /* Adjust the position */
}
.submit-button{
    position: absolute;
    transform: translateY(-50%);
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  margin-left: 20px;
  width: 400px;
  
}